#about {
  background: @dark-blue;

  padding: 80px 0 40px;
  @media (min-width: @breakpoint-medium) {
    padding: 80px 40px 70px;
  }
  margin-top: -345px;
  position: relative;
  //-webkit-clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 88%);
  //clip-path: polygon(0 13%, 100% 0, 100% 100%, 0 88%);
  //margin-top: -100px;

  .tm-section-text-block {
    color: @light-blue;
    line-height: 1.7;
    @media (min-width: @breakpoint-medium) {
      text-align: justify;
    }
    a{
      color:lighten(@light-blue,20%);
      &:hover{
        color:@orange;
      }
    }

  }
}