.top-angle.portfolio { //top-left
  .angle-top-left(@white);
  top: -79px;
}

.bottom-angle.portfolio { //bottom-left
  .angle-bottom-left(@white);
  bottom: 1px;

}

.top-angle.testimonials { //top-right
  .angle-top-right(@light-blue);
  top: -79px;
}

.bottom-angle.testimonials { //bottom-right
  .angle-bottom-right(@light-blue);
  bottom: 1px;
}

.top-angle.about { //top-right
  .angle-top-right(@dark-blue);
  top: -344px;
}

.bottom-angle.header { //top-right
  .angle-top-right(@bg-grey);
  bottom: 99px;
}

.bottom-angle.about { //bottom-right
  .angle-bottom-right(@dark-blue);
  bottom: 1px;
}

.top-angle.contact { //top-left
  .angle-top-left(@dark-blue);
  top: -79px;
}

.bottom-angle.contact { //bottom-left
  .angle-bottom-left(@dark-blue);
  bottom: 1px;
}

.top-angle.footer { //top-right
  .angle-top-right(@beige);
  top: -79px;
}