#contact {
  background: @dark-blue;
  padding: 40px 0 10px;
  margin-top: -80px;
  @media (max-width: @breakpoint-small-max){
    position: relative;
    z-index: 100;
    margin-top: -120px;

  }

}
.contact-content{
  @media (max-width: @breakpoint-small-max){
    margin-top: -48px;
  }
}
//Gravity form
.gform_button{
  .hook-button-primary;
  color:@light-blue !important;
  padding: 10px 30px;
  display: block;
  margin: 0 auto;
  &:hover{
    .hook-button-primary-hover;
    color:@white !important;
    cursor: hand !important;
  }
}
.gfield_label{
  color:@white;
  font-weight:300 !important;
  font-size:16px !important;
  color:@light-blue;
  font-style:italic;
}
input[type="text"], textarea{
  border-radius: 0 !important;
  background: lighten(@dark-blue,3%) !important;
  border: none !important;
  color: @light-blue !important;
  height: 50px !important;
}
textarea{
  height:150px !important;
}
.g-field{
  padding-right: 0!important;
}
.gfield_required{
  color:@orange !important;
}
.form-text{
  color:@light-blue;
  padding: 50px 20px;
  font-size:19px;
  line-height: 1.7;
  font-weight: 100;
  background: lighten(@dark-blue,3%);
  @media (min-width: @breakpoint-large) and (max-width: 1024px){
    background: transparent;
    margin-top: 100px;
  }
  @media (min-width: @breakpoint-xlarge){
    font-size: 26px;
    padding: 155px 0 0 5%;
  }
  @media (max-width: @breakpoint-small-max){
    margin-left: 14px;
  }

}
#SkypeButton_Call_crea-webdesign_1_paraElement{
  background: url(../../images/skype.svg) no-repeat;
  height: 64px;
  width: 64px;
  margin-top: 7px;
  img{
    visibility: hidden;

  }
  a{


  }
}