.tm-footer{
  background: @secondary-color;
  color:@white;
  margin-top: -80px;
  border-top:0;
  padding:0 0 20px;
  p{
    color:@light-blue;
    margin: 10px;
  }
  a{
    color:@dark-blue;
    &:hover{
      color:@light-blue;
    }
  }
  .uk-icon-heart{
    color: @orange;
  }
  .uk-icon-button{
    background: @dark-blue;
    color:@white;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    &:hover{
      background: @light-blue;
      color: @white;
      -webkit-transform: rotateZ(360deg);
      -moz-transform: rotateZ(360deg);
      transform: rotateZ(360deg);
    }
  }
}


