.tm-header{
  border-bottom:none;
  background-image:  linear-gradient(to right, #e74c3c 0%, #310a4e 100%);
  //-webkit-clip-path: polygon(0 0, 2560px 0, 2560px 70%, 0 100%);
  //clip-path: polygon(0 0, 2560px 0, 2560px 70%, 0 100%);
  padding: 50px 0;
  @media (min-width: @breakpoint-small){
    padding: 100px 0;
  }

  &.uk-active{
    background: @white;

    .tm-site-branding a{
      color:@global-color;
    }
  }

}


.tm-site-branding{
  a{

    color: @global-color;
    font-family:@base-heading-font-family;
    color: @beige;
    font-size:33px;
    //line-height:1.2;
    @media (min-width: @breakpoint-medium){
      font-size:60px;
    }



  }
}
.tm-site-title-tag{
  color: lighten(@primary-color,10%);
  margin-bottom: 80px;
  line-height:1.5;
  @media (min-width: @breakpoint-small){
    font-size:30px;
  }
}
.author-image{

  //margin-bottom: -75px;
  border:7px solid @white;
  z-index: 1000;
  position: relative;
  top: -170px;
  @media (min-width: @breakpoint-medium){
    top: -180px;
  }
  @media (min-width: @breakpoint-large){
    top: -200px;
  }

}

.tm-contact-button{
  position: fixed;
  right:70px;
  top:70px;
  z-index:100;
  color:@white;
  //width:80px;
  //height: 80px;
  font-size:16px;
  color:@beige;
  img{
    width:80px;
    height:80px;
  }

  .transition;
  &:hover{
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
  }
}

