/*--------------------------------------------------------------
Header nav
--------------------------------------------------------------*/

.tm-icon-menu {
  width: 40px;
  height: 45px;
  position: relative;
  margin: -50px auto;
  .transform(rotate(0deg));
  .transition(all,.5s);
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: lighten(@orange, 10%);
    //border-radius: 9px;
    opacity: 1;
    left: 0;
    .transform(rotate(0deg));
   .transition(all,.25s);
    &:nth-child(1) {
      top: 0;
      width:120%
    }
    &:nth-child(2), &:nth-child(3) {
      top: 10px;

    }
    &:nth-child(4) {
      top: 20px;
      width:120%
    }

  }
  &.open {
    span {
      &:nth-child(1), &:nth-child(4) {
        top: 10px;
        width: 0;
        left: 50%;
      }
      &:nth-child(2){
        .transform(rotate(45deg));
      }
      &:nth-child(3){
        .transform(rotate(-45deg));
      }
    }
  }

}
.sub-menu > li {
  width:300px;
  margin:0 auto;
  text-align:left;
  > a {
    color: @light-blue;
    text-transform: uppercase;
    &:hover{
      color:@beige;
    }
  }
}

/*--------------------------------------------------------------
OFF CANVAS
--------------------------------------------------------------*/
.uk-icon-navicon{
  color:@beige;
  font-size:24px;
  position: relative;
  top:-20px;
  @media (min-width: @breakpoint-small){
    top:-50px;
  }

}


.uk-nav-parent-icon > .uk-parent > a:after {
  float: none;
  position: relative;
  left: 50px;
}

.tm-modal-menu {
  padding: 10% 0;
  background: @dark-blue;
  .menu-item {
    //border-bottom:1px solid @global-border;
  }
  .uk-nav > li > a {
    text-transform: uppercase;
    font-size: 24px;
    padding: 15px 5px;
    font-weight: 200;
    color: @light-blue;
    .transition;
    &:hover {
      background: lighten(@dark-blue, 1%);
      color: @beige;
    }
  }
  .uk-nav-side > li.uk-active > a {
    background: lighten(@dark-blue, 2%);
    color: @beige;
  }

}


