#portfolio {
  padding: 10px 0;
  background: @white;
  position: relative;
  margin-top: -80px;
  .tm-section-title {
    color: @light-blue;

  }
  .divider:after, .divider:before {
    background-color: @dark-blue;
  }
  .divider .uk-icon-small {
    color: @dark-blue;
  }
}
.portfolio-content{
  @media (max-width: @breakpoint-medium-max){
    margin-top: -60px;

  }

}
.tm-modal-portfolio {
  padding: 7% 0;
  @media (max-width: @breakpoint-mini-max){
    padding-top: 60px;
  }
  padding-top:60px;
  background: @white !important;
  .uk-container{
    margin-top: 20px;
  }
}

.portfolio-item {
  margin-bottom: 30px;
  .uk-panel {
    background: @bg-grey;
    padding: 10px;
  }
  .tm-portfolio-item-text {
    padding: 10px 3%;
    font-size: 13px;
    font-style:italic;
    min-height:80px;
  }
  .uk-panel-title {
    margin-top: 15px;
    color: @white;
    background: @light-blue;
    padding: 8px;
    font-size: 20px;
    margin-bottom: 0;
  }
}
.tm-portfolio-link{
  text-align: center;
}
.tm-pf-link{
  display: block;
  font-weight: 400;
  position: relative;
  top:5px;
  &:hover{
    color:@light-blue;
  }
}