.tm-pf-slideshow{

  .uk-panel-title{
    @media (min-width: @breakpoint-small){
      font-size:36px;
    }
    font-size:20px;
    text-transform: uppercase;
    color:@white;
    background: @light-blue;
    padding: 10px;
  }
  .uk-panel{
    background: @bg-grey;
    @media (min-width: @breakpoint-small){
      padding: 50px;
    }
    padding: 30px 15px;
  }
  .tm-slideshow-text{
    @media (min-width: @breakpoint-small){
      padding: 40px;
    }
    p{
      font-size:16px;
      font-style:italic;
    }
  }
.uk-slidenav{
  @media (max-width: 1360px){
    display: none;
  }
}

}