#testimonials{
  margin-top: -80px;
  padding: 40px 0 1px;
  background-color: @light-blue;
  .tm-section-title{
    color:@beige;
  }
}
.testimonial-author-img img{
    border-radius:100px;
    height: 130px;
    width: 130px;
    border:7px solid @white;
  }
.testimonial-text{
  font-size:16px;
  color:@white;
  font-style:italic;
  @media (max-width: @breakpoint-mini-max){
  padding:0 10px;
  }
}
.testimonial-author{
  text-align:left;

  color:@beige;
  font-weight:400;
  margin-left: 20%;
}

.tm-testimonial-slideshow {
  max-height: 450px;
  overflow: hidden;

}

