/*
 * In this file, you may style your site using CSS or LESS as well as overwrite UIkit LESS variables.
 * Make sure to enable development mode via the Admin->Appearance->Settings option while working on your website. LESS will then be processed on the fly.
 */

/*--------------------------------------------------------------
Fonts
--------------------------------------------------------------*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?gdf0z1');
  src: url('../fonts/icomoon.eot?gdf0z1#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?gdf0z1') format('truetype'),
  url('../fonts/icomoon.woff?gdf0z1') format('woff'),
  url('../fonts/icomoon.svg?gdf0z1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-link:before {
  content: "\e015";
}

.icon-magnify:before {
  content: "\e01f";
}

.icon-eye:before {
  content: "\e02c";
}

.icon-close:before {
  content: "\e306";
}

.icon-previous:before {
  content: "\e628";
}

.icon-next:before {
  content: "\e629";
}

/*--------------------------------------------------------------
Site
--------------------------------------------------------------*/
a {
  .transition(color);
}

.tm-site {
  @media (min-width: @breakpoint-medium) {
    border: @site-frame solid @bg-grey;
  }
  position: relative;
  overflow-x: hidden;
}

.tm-main {
  background: @global-background;
}

.divider {
  margin: 15px;
  @media (min-width: @breakpoint-small) {
    margin: 30px;
  }
}

.divider .uk-icon-small {
  color: @beige;
  font-size: 13px;
}

.divider:after, .divider:before {
  content: "";
  background-color: @beige;
  position: absolute;
  margin-top: 17px;
  width: 50px;
  height: 1px;
}

.divider:after {

  margin-top: 17px;
  margin-left: 5px;

}

.divider:before {
  margin-left: -57px;
}


/*--------------------------------------------------------------
SECTIONS
--------------------------------------------------------------*/
.tm-section-title {
  font-size: 26px;
  @media (min-width: @breakpoint-small) {
    font-size: 50px;
  }
}

/*--------------------------------------------------------------
sidebar
--------------------------------------------------------------*/
.tm-widget {
  margin-bottom: 40px;
}

.tm-secondary {
  margin-bottom: 100px;
}

/*--------------------------------------------------------------
content
--------------------------------------------------------------*/
.tm-main {
  //background: @white;
}











